ion-view(view-title='Lista de contactos')
    ion-header-bar(class="bar-positive")
        button(class="button button-stable white-text ion-android-settings" ng-click="main.opciones()")
        h1(class="title")
          | Lista de contactos
        button(class="button button-stable white-text ion-plus-circled" ng-click="main.mostarModalAdd()")
            | Añadir



    ion-footer-bar.bar-positive.item-input-inset(align-title='center')
        

        label.item-input-wrapper
         i.icon.ion-ios-search.placeholder-icon
         input(type='search', placeholder='Filtrar', ng-model='search') 

    ion-content
        contact-list(on-edit="main.edita(item)"  ordenarpor="id" filtro="{{search}}" see-details="main.verDetalles(item)")
    button(class="button icon ion-android-add button-fab button-positive" ng-click="main.mostarModalAdd()")
 
 