
ion-refresher(on-refresh="contacts.doRefresh()"  pulling-text="Recargar")
ion-list( can-swipe="contacts.deslizar")
    ion-item.list-inset(ng-if="(contacts.Contactos | filter : contacts.buscar(contacts.filtro)).length == 0")
        h2 
        | No hay contactos para mostrar
    ion-item.list-inset(ng-repeat="item in contacts.Contactos | filter: contacts.buscar(contacts.filtro)" ng-click="contacts.seleccionar({item : item})")
        h2 Nombre:{{item.name}}
        p 
         | Email: {{item.email}} 
         br
         | Celular: {{item.mobile}}
        ion-option-button.button-assertive.ion-trash-a( ng-click="contacts.delete(item.id)")
        ion-option-button.button-calm.ion-edit(ng-click="contacts.editar({item: item})")
        ion-option-button.button-balanced.ion-ios-telephone(ng-click="contacts.llamar(item)")
ion-infinite-scroll(ng-if="contacts.ExistenMasContactos" distance="10%" on-infinite="contacts.getMoreContacts()")
    ion-infinite-scroll-content



